<nav class="topnav" id="topnav">
    <div class="container">
        <a href="{{ route('home') }}" class="nav-brand">{{ config.get('app.name') }}</a>
        <div class="main-nav nav">
            <div class="menu-items">
                <a href="{{ route('home') }}" class="active">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
            </div>
        </div>
        <div class="nav nav-right">
            <a href="{{ route('auth.login') }}">Sign In</a>
            <a href="#news">News</a>
        </div>
    </div>
</nav><!-- /nav -->
